doctype

  body
        h1 Hello, please RSVP below!

        form(method="POST" action="/reply")
      fieldset 
        legend Can You Make It?
        h3 Name: 
          input#name(placeholder="Name" type="text" name="name")
        h3 Email: 
          input#email(placeholder="Email" type="text" name="email")
        h3 Attending? 
          br
          input#attending(type="radio" value="1" name="attending")
          label(for="attending") I can make it!
          br
          input#notAttending(type="radio" value="0" name="attending") 
          label(for="notAttending") I can't make it :(
        h3 Number of Guests: 
          select#guests(name="guests")
            option(value="0") Going solo
            option(value="1") Me and my magnet
            option(value="2") Third wheel problems
            option(value="3") double date status
            option(value="4") 4
            option(value="5") 5
            option(value="6") 6
            option(value="7") 7
            option(value="8") 8

        div#buttonContainer
          button(type="submit") Submit
          button(type="reset") Reset
