doctype
html
  head
    link(rel="stylesheet" href="style.css")
    title Submission Completed

  body
    h1 Thanks for RSVPing!
    div
      a(href="/guestList") Look to see who else is going! 
    div
      a(href="/") Go Back to the Form